{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Iniciar Sesión – Administrador</title>
    <link rel="stylesheet" href="{% static 'mesa/style.css' %}">
</head>
<body>

<header class="topbar">
    <div class="logo">
        <img src="{% static 'mesa/logo.png' %}" alt="Logo">
        <span>CONSEJO ARBITRAL DE LIMA</span>
    </div>
</header>

<main class="form-container">
    <h1 class="titulo">Iniciar Sesión Administrador</h1>

    <form method="POST" action="{% url 'login_admin' %}">
        {% csrf_token %}
        <label>Usuario Administrador</label>
        <input type="text" name="username" required>

        <label>Contraseña</label>
        <input type="password" name="password" required>

        <button type="submit" class="btn-main">Ingresar</button>
    </form>

    <p class="muted">Acceso exclusivo para administradores del sistema.</p>
</main>

<footer class="footer">
    <img src="{% static 'mesa/logo.png' %}" alt="Logo" class="footer-logo">
    <p><strong>CONSEJO ARBITRAL DE LIMA</strong> – Todos los derechos reservados © 2025</p>
</footer>

</body>
</html>
